.Kategorije {
  background-color: orange;
  height: 150px;
  display: flex;
  justify-content: space-around;
}
.TipKat {
  width: 6%;
}
.KatSlik {
  margin-top: 10%;
  height: 70%;
  background-color: aliceblue;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 50%;
}

.KatSlik img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
