.Proizvodi {
  background-color: red;
  height: 800px;
}
.Filter {
  display: flex;
  justify-content: space-between;
  padding-top: 2%;
}
.Kartica img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.Kartica {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 300px;
  margin: 10px;
}

.Krt {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 90%;
  margin: 2% auto;
  background-color: #ddd;
  max-height: 90%;
}
.Stranica {
  background-color: lightblue;
  width: 20px;
  height: 20px;
  align-items: center;
  justify-content: center;
  color: black;
  border-radius: 50%;
  margin: 5px;
  border: 1px solid black;
}

.Str {
  display: flex;
  justify-content: center;
}
